<div class="inputs">
    <form>
        <mat-form-field >
            <mat-label>Width</mat-label>
            <input matInput type="number" [(ngModel)]="bingo.width" (ngModelChange)="onSizeChange()" [ngModelOptions]="{standalone: true}"> 
        </mat-form-field>
    </form>

    <form>
        <mat-form-field >
            <mat-label>Height</mat-label>
            <input matInput type="number" [(ngModel)]="bingo.height" (ngModelChange)="onSizeChange()" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>

    <button mat-stroked-button class="createButton">
        Create bingo
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>
<div class="grid" [ngStyle]="getStyles()">
    <mat-card *ngFor="let field of fields" >
        {{field}}
    </mat-card>
</div>


